*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
section{
    padding: 60px 0;
    font-family: "Oswald", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container > div{
    flex: 1 1 150px;
}
/* Education */
#educ{
    padding-bottom: 100px;
}

/* programming languages */
#skills{
    margin: 150px 0;
}
#sk{
    margin-top: -50px;
    margin-bottom: 30px;
}
.tech{
    font-size: 30px;
}
.offcanvas-body ul li{
    list-style-type: none;
    padding-top: 10px;
}
#prog ul li{
    font-size: 1.3rem;
}
.prog-title{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.languages{
    padding-bottom: 100px;
}
.html{
    color: orange;
}
.css{
    color: blue;
}
.js{
    color: #F0DE36;
}
.boots{
    color: #7071E8;
}
#skills-card{
    align-items: center;
}